<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>


<body>


    <header class="header">
        <img src="./images/logo-mercado-liebre.svg" alt="logo">

        <form action=""><input type="text" placeholder="Buscar productos, marcas y algo mas..."><button>
            <i id="search"
                    class="fas fa-search"></i></button></form>

        <h2><i class="fad fa-laugh-wink"></i>Compra en cuotas y sin tarjeta de credito</h2>
        <nav>
            <ul class="firstUl">
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul class="secondUl">

                <li>
                    <a href="/">Crea tu cuenta <i id="icon" class="far fa-id-card"> </i></a>
                </li>

                <li>
                    <a href="/">Ingresa <i id="icon" class="fas fa-sign-in-alt"> </i> </a>
                </li>

                <li>
                    <a href="/">Mis Compras<i id="icon" class="fas fa-sign-in-alt"> </i> </a>
                </li>

            </ul>
        </nav>
        <a class="burgermenu">
            <i class="fas fa-bars"></i>
        </a>
    </header>




    <main>
        <img class="banner" src="./images/img-home-banner.jpg" alt="banner">

        <section>
            <h2 class="offer">Ofertas</h2>

            <article>
                <img class="product" src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
                <div class="infoProduct">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.670</p>
                    <p class="discount">40% OFF</p>
                    <h3 class="description"> Moulinex</h3>
                </div>
            </article>

            <article>
                <img class="product" src="./images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20%OFF</p>
                    <h3 class="description"> MacBook Pro 2019</h3>
                </div>
            </article>


            <article>
                <img class="product" src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                <div class="infoProduct">
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10%OFF</p>
                    <h3 class="description"> Samsung Galaxy S10 </h3>
                </div>
            </article>



            <article>
                <img class="product" src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''" width="100% ">
                <div class="infoProduct">
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5%OFF</p>
                    <h3 class="description"> SmartTv Samsung 43"</h3>

                </div>
            </article>

        </section>
        <section>
            <h2 class="offer">Basado en tu última visita</h2>

            <article>
                <img class="product" src="./images/img-cafetera-moulinex.jpg" alt="Cafetera" width="100%">
                <div class="infoProduct">
                    <i class="fas fa-truck"></i>
                    <p class="price">$6.670</p>
                    <p class="discount">40% OFF</p>
                    <h3 class="description"> Moulinex</h3>
                </div>
            </article>

            <article>
                <img class="product" src="./images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" width="100%">
                <div>
                    <i class="fas fa-truck"></i>
                    <p class="price">$230.000</p>
                    <p class="discount">20%OFF</p>
                    <h3 class="description"> MacBook Pro 2019</h3>
                </div>
            </article>


            <article>
                <img class="product" src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="100%">
                <div class="infoProduct">
                    <i class="fas fa-truck"></i>
                    <p class="price">$70.500</p>
                    <p class="discount">10%OFF</p>
                    <h3 class="description"> Samsung Galaxy S10 </h3>
                </div>
            </article>



            <article>
                <img class="product" src="./images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43''" width="100% ">
                <div class="infoProduct">
                    <i class="fas fa-truck"></i>
                    <p class="price">$23.200</p>
                    <p class="discount">5%OFF</p>
                    <h3 class="description"> SmartTv Samsung 43"</h3>

                </div>
            </article>

        </section>


    </main>


    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>

            <p>Con Mercado Liebre Cash, tenés cuotas sin
                interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>

        </article>

        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $2.500</h4>

            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </article>

        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>


        <article>
            <h4 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L</h4>
        </article>


    </footer>

</body>

</html>